*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  font-family: "poppins", sans-serif;
}

.content{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(../images/washington.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
}