*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  font-family: "poppins", sans-serif;
}

.content{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(../images/washington.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
  padding: 50px 60px 70px;
  text-align: center;
  opacity:0.8;
  background: #eaeaea;
}


.form input{
padding: 16px 12px;
border-radius: 10px;
background: floralwhite;
border: 0;
outline: 0;
display: block;
margin: 20px auto;
width: 80%;
transition: 1s
}

.btn{
  padding: 14px 12px;
  margin-top: 12px;
  width: 100px;
  transition: 1s;
}

.btn:hover{
  background: #3c00a0;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.btn-group{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 10px;
}

.form a{
  text-decoration: none;
}

#heading{
  color: #3c00a0;
  transition: 1s;
}

.form h2{
  position: relative;
}

.form h2::after{
  content: "";
  width: 10%;
  height: 4px;
  background: #3c00a0;
  position: absolute;
  left: 50%;
  bottom: -8px;
}